$color-black: #0C0C0C;
$color-golden: #DCCA87;
$color-white: #FFFFFF;

$font-base: 'Cormorant Upright', serif;

.app__specialMenu {
    background-color: $color-black;

    &-content .custom__button {
        display: flex;
        margin: auto;
    }

    &-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &-menu {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        @media screen and (max-width: 2000px){
            margin: 4rem 0;
        }

        @media screen and (max-width: 1150px){
            flex-direction: column;
            align-items: center;
        }

        &-items {
            color: $color-golden;
            width: 100%;
        }

        &_wine,
        &_coctails {
            flex: 1;
            flex-direction: column;
            width: 100%;
        }

        &-header{
            color: $color-white;
            font-family: $font-base;
            font-weight: 600;
            font-size: 45px;
            line-height: 58.5px;
            letter-spacing: 0.04em;

            @media screen and (max-width: 650px){
                font-size: 35px;
                line-height: 48px;
            }
        }

        &_img {
            flex: 1;
            margin: 0 2rem;
            width: 440px;

            @media screen and (max-width: 1150px){
                margin: 3rem 2rem;
            }

            @media screen and (max-width: 650px){
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
