.app__specialMenu {
    background-color: var(--color-black);

    &-content .custom__button {
        display: flex;
        margin: auto;
    }

    &-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &-menu {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        &-items {
            color: var(--color-golden);
            width: 100%;
        }

        &_wine,
        &_coctails {
            flex: 1;
            flex-direction: column;
            width: 100%;
        }

        &-header{
            color: var(--color-white);
            font-family: var(--font-base);
            font-weight: 600;
            font-size: 45px;
            line-height: 58.5px;
            letter-spacing: 0.04em;
        }

        &_img {
            flex: 1;
            margin: 0 2rem;
            width: 440px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 2000px){
    .app__specialMenu-menu {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 1150px){
    .app__specialMenu-menu {
        flex-direction: column;
        align-items: center;
    }

    .app__specialMenu-menu_img {
        margin: 3rem 2rem;
    }
}

@media screen and (max-width: 650px){
    .app__specialMenu-menu_img {
        width: 100%;
    }

    .app__specialMenu-menu-header{
        font-size: 35px;
        line-height: 48px;
    }
}